PORT=3001
NODE_ENV=development

# reCAPTCHA
REACT_APP_RECAPTCHA_SITE_KEY=6LdehBksAAAAAJAHTSMZurX0o6JyE8a0w2Fiq_9n
RECAPTCHA_SECRET_KEY=6LdehBksAAAAAKAsfFzEW9QYRWmXjrewHMJV9wM7

# Email
EMAIL_USER=Cisgal.spci@gmail.com
EMAIL_PASSWORD=



