// Button Mixins
@mixin button-variant($background, $border, $color: #fff) {
  background-color: $background;
  border-color: $border;
  color: $color;
  
  &:hover {
    background-color: darken($background, 7.5%);
    border-color: darken($border, 10%);
    color: $color;
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($background, 0.5);
  }
  
  &:active {
    background-color: darken($background, 10%);
    border-color: darken($border, 12.5%);
  }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
  color: $color;
  border-color: $color;
  
  &:hover {
    background-color: $color;
    border-color: $color;
    color: $color-hover;
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
  }
  
  &:active {
    background-color: $color;
    border-color: $color;
    color: $color-hover;
  }
}

@mixin button-gradient {
  @include gradient-primary;
  border: none;
  color: $white;
  
  &:hover {
    @include gradient-accent;
    color: $white;
  }
}

